{{- define "main" -}}

{{/* Author profile page. */}}

{{/* If an account has not been created for this user, just display their name as the title. */}}
{{ if not .File }}
<div class="universal-wrapper pt-3">
  <h1>{{ .Title }}</h1>
</div>
{{ end }}

<section id="profile-page" class="pt-5">
  <div class="container">
    {{/* Show the About block if an account exists for this user. */}}
    {{/* TODO: remove dependency on v1 blocks. Either migrate to v2 blocks(?) or directly implement layout here. */}}
    {{ if .File }}
      {{ $widget := "blocks/v1/about.html" }}
      {{ $username := (path.Base .File.Dir) }}{{/* Alternatively, use `index .Params.authors 0` */}}
      {{ $params := dict "wcPage" $ "wcBlock" . "author" $username }}
      {{ partial $widget $params }}
    {{end}}

    {{ $student_names := slice }}
    {{ if .File }}
      {{ $student_names = index site.Data.student_publication_names (path.Base .File.Dir) | default slice }}
    {{ end }}
    {{ if $student_names }}
      {{ partial "student-publications.html" (dict "page" . "names" $student_names) }}
    {{ end }}

    {{ $query := where .Pages ".IsNode" false }}
    {{ if $student_names }}
      {{ $query = where $query "Type" "ne" "publication" }}
    {{ end }}
    {{ $zh := eq site.Language.Lang "zh" }}
    {{ $groups := slice
      (dict "title" (cond $zh "参与发表的论文" "Publications") "pages" (where $query "Type" "publication"))
      (dict "title" (cond $zh "文章" "Posts") "pages" (where $query "Type" "post"))
      (dict "title" (cond $zh "其他内容" "Other Content") "pages" (where (where $query "Type" "ne" "publication") "Type" "ne" "post"))
    }}
    {{ range $groups }}
    {{ if .pages }}
    <div class="article-widget content-widget-hr">
      <h3>{{ .title }}</h3>
      <ul>
        {{ range .pages.ByDate.Reverse }}
        <li>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
    {{ end }}
    {{ end }}
  </div>
</section>

{{- end -}}
